<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>竞赛信息详情</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <script th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <button class="layui-btn layui-btn-primary"><a th:href="${back}">返回</a></button>
                <div class="layui-card-body">
                    <div style="text-align:center;margin: 5px;line-height: 40px; border: 1px solid gainsboro;">
                        <ul style="text-align:left;border: 1px solid gainsboro; ">
                            [[${detail.cpName}]]</ul>
                        <ul style="text-align:left;border: 1px solid gainsboro">
                            <h3 th:text="'报名起止时间：'+${#dates.format(detail.applyStart,'yyyy-MM-dd')}+
                    '————'+${#dates.format(detail.applyEnd,'yyyy-MM-dd')}"></h3>
                        </ul>
                        <ul style="text-align:left ;border: 1px solid gainsboro">
                            <h3 th:text="'竞赛起止时间：'+${#dates.format(detail.cpStart,'yyyy-MM-dd')}+
                    '————'+${#dates.format(detail.cpEnd,'yyyy-MM-dd')}"></h3>
                        </ul>
                        <ul style="text-align:left;border: 1px solid gainsboro">
                            [[${detail.cpContent}]]</ul>
                    </div>
                    <div class="layui-form-item" th:if="${session.thisUser.type == 2}">
                        <button class="layui-btn layui-btn-primary" th:if="${detail.haveApply == 0}">
                            <a th:href="@{/team-serv/team/build/}+${detail.id}">进入报名</a>
                        </button>
                        <button class="layui-btn layui-btn-primary" th:if="${detail.haveApply == 1}">
                            您已报名该竞赛
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script th:src="@{/lib/layui/layui.js}"></script>
</html>