<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>竞赛信息详情</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <script th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card"  style="height: 610px">
                <div>
                    <a class="layui-btn layui-btn-primary" lay-event="detail" th:href="${back}" style="float: left">
                        <i class="layui-icon layui-icon-return"></i>
                        返回
                    </a>
                    <div style="margin-right:30px;float:right;margin-top: 10px">
                        参赛方式：
                        <button type="button" class="layui-btn layui-btn-primary layui-btn-radius"
                                th:if="${session.thisUser.type == 2}">
                            <a th:herf="@{/team-serv/team/build/}+${detail.id}"></a>
                            创建团队
                        </button>
                        <button type="button" class="layui-btn layui-btn-primary layui-btn-radius"
                                th:if="${session.thisUser.type == 2}">
                            <a th:herf="@{/team-serv/team/join/}+${detail.id}"></a>
                            加入团队
                        </button>
                        <button type="button" class="layui-btn layui-btn-primary layui-btn-radius"
                                th:if="${session.thisUser.type == 2}">
                            <a th:herf="@{/team-serv/team/own/}+${detail.id}"></a>
                            已有团队
                        </button>
                    </div>
                    <div style="clear:both"></div>
                </div>
                <div class="layui-card-body" style="text-align:center;margin: 5px;">
                    <ul style="text-align:center;">
                        <h2>[[${detail.title}]]</h2>
                    </ul>
                    <ul style="text-align:center;" th:if='${detail.picture != ""}'>
                        <img style="height: 400px;width: 100%" th:src="@{${detail.picture}}" />
                    </ul>
                    <ul style="text-align:left;">
                        <li> <h4 th:text="'报名起止时间：'+${#dates.format(detail.applyStart,'yyyy-MM-dd')}+
                            '————'+${#dates.format(detail.applyEnd,'yyyy-MM-dd')}"></h4></li>
                    </ul>
                    <ul style="text-align:left;">
                        <li>  <h4 th:text="'竞赛起止时间：'+${#dates.format(detail.start,'yyyy-MM-dd')}+
                            '————'+${#dates.format(detail.end,'yyyy-MM-dd')}"></h4></li>
                    </ul>
                    <hr>
                    <ul><li><h4 style="text-align: left">赛事背景</h4></li></ul>
                    <ul style="text-align:center; text-indent:2em;">
                        <p style="text-align:left;">
                        [[${detail.content}]]
                        </p>
                    </ul>
                    <hr>
                    <ul><li><h4 style="text-align: left">举办方</h4></li></ul>
                    <ul style="text-align:left;margin-left: 40px;">
                        [[${detail.organizer}]]
                    </ul>
                    <hr>
                    <ul style="text-align:right;margin-right: 300px;" th:if='${detail.supplement != ""}'>
                        附件：
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script th:src="@{/lib/layui/layui.js}"></script>
</html>